.section-1 {
    position: relative;
    background: radial-gradient(circle closest-corner at 80% 50%, rgba(115, 154, 207, .7) -80%, rgba(21, 32, 51, 1) 180%),
        url('../images/section-1-bg.png');
    /* background: linear-gradient(45deg, rgba(21, 32, 51, 1) 50%, rgba(115, 154, 207, .7) 100%), url('/src/images/section-1-bg.png'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

@media (max-width: 1080px) {
    .section-1 .content-holder {
        flex-direction: column;
    }

    .section-1 .content-holder p {
        width: 100% !important;
        padding: 6rem 5rem 3rem !important;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .section-1 .content-holder img {
        width: 100% !important;
    }
}