.section-3 {
    position: relative;
    background: linear-gradient(219deg, rgba(115, 153, 207, .7) -40%, rgba(21, 32, 51, 1) 58%);
    background-position: center;
    background-repeat: no-repeat;
}